label {
    font-weight: bold;
}

::placeholder {
    font-style: italic;
}

body {
    background-image: url('../Images/takomedium.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20px;
}

form {
    background-color: #d34f4f;
    padding: 0px;
    text-align: left;
    display: table;
}

#logo {
    height: 100px;
    margin-top: 0px;
    position: absolute;
}

#brandname {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-family: takuzalogofont;
    
}

#tagline {
    position: relative;
    text-align: center;
    font-style: italic;
}

@font-face {
    font-family: takuzalogofont;
    src: url(JAPANESE_2020.ttf);
  }


input[type="submit"]:hover {
    background-color: #d34f4f;
    color: white;
}

.navbar-brand {
    font-family: Japanese;
    font-size: 20px;
}


#Congratulations {
    margin-top: 25% !important;
}

.card-title {
    border-color:#dacaae!important;
    padding-left: 0px;
    color: #ccb58e !important;
    font-size: calc (30px + 2vw);
}


.card {
    max-width: 100%;
    min-width: 15vw;
    margin-bottom: 10px;
    color: white;
}

.btn {
    border: 2px solid;
    border-color:#dacaae!important;
}

a:hover {
    color: #E96479 !important;
}

.btn:hover {
    color: white !important;
    background-color: #a33c3c !important;

}