@font-face {
    font-family: Comili;
    src: url('Fonts/Comili-Book.otf');
}

@font-face {
    font-family: Bookworm;
    src: url('Fonts/Bookworm_062308.ttf');
}

@font-face {
    font-family: Japanese2020;
    src: url('Fonts/JAPANESE_2020.otf');
}


.nav-item {
    margin-inline: 20px;
    font-size: 30px;
    font-family: Japanese2020;
}


#NAVBRAND {
    font-family: Japanese2020;
}


.HOME {
    font-size: 100px;
    font-family: Japanese2020;
    
}

#CTA {
    margin-top: 150px;
    height: 350px;
}

