header {
    background-color: black;
    background-size: cover;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    margin-top: 0;
    width: 100%;
    position: fixed;
    opacity: 100%;
}


footer {
    background-color: black;
    background-size: cover;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    margin-bottom: 0;
    width: 100%;
    position: fixed;
    opacity: 100%;
}


body {
    margin-top: 100px;
}

.Header1 {
    padding-top: 50px;
    text-align: center;
    font-size: 100px;
    font-family: Chalkduster;
    margin-bottom: 50px;
}

.Header2 {
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
    font-family: Chalkduster;
    margin-bottom: 50px;
}

.Header3 {
    padding-top: 0px;
    margin-top: -40px;
    font-size: 20px;
    font-family: Chalkduster;
    text-align: center;
    margin-left: 250px;
}

.toggle {
    margin-top: 150px;
    left: auto;
    right: auto;
    text-align: center;
}

.toggle a:link{
    text-align: center;
    font-size: 40px;
    font-family: Chalkduster;
    text-decoration: none;
    color: black;
}


#katana {
    background-color: transparent;
    margin-top: -280px;
    margin-left: 200px;
    transform: rotate(60deg);
    z-index: 9999;
    float:left

}

.slice {
    background-image: url('blood.png');
    background-repeat: no-repeat;
    background-size: 500px;
    background-image: rotate(180deg);
    background-position: center;
}

.toggle a:hover{
    color: red;
    font-weight: 900;
    font-style: italic;
}

.topnav {
    display: block;
    position: fixed;
    top: 40px;
    height: 50px;
    width: 500px;
    right: 10px;
    align-items: center;
    background-size: cover;
    background-color: black;
    padding: 0px;
    border-radius: 25px;
    background-color: opacity: 40%;
}

.topnav ul {
    list-style: none;
    float: right;
    padding-right: 50px;
    display: flex;


}

.topnav li a {
    color:white;
    right: 0px;
    text-decoration: wavy;
    font-family: chalkduster;
    padding-right: 20px;
    padding-left: 0px;
    font-style: italic;

}


.footer {
    bottom:0px;
    right: 0px;
    position: fixed;
    height: 300px;
}